// Header Top Bar 
.main-home-area {
    position: relative;

    .chakra-container.css-ke22i8 {
        @media #{$smlg-device} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.lcai-update-header-wrapper {
    position: relative;
    margin-bottom: 10px;
    padding: 40px 15px;
    z-index: 999;

    @media #{$lgtolp-device} {
        padding: 40px 0px !important;
    }

    @media #{$md-layout} {
        display: none;
    }

    @media #{$sm-layout} {
        display: none;
    }

    .top-shape-thumbnail {
        position: absolute;
        top: 79%;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: -1;

        @media #{$lg-layout} {
            display: none;
        }

        img {
            @media #{$md-layout} {
                display: none !important;
            }

            @media #{$sm-layout} {
                display: none !important;
            }
        }

        .for-dark {
            display: block;
        }

        .for-light {
            display: none;
        }
    }
}

header {
    @media screen and (min-width: 1440px) {
        .css-qgo69j {
            width: auto;
            height: auto;
        }
    }

    .chakra-image {
        max-height: 40px;
        min-height: 40px;
    }
}

// Header Style Start 
.mainmenu-nav {
    position: relative;

    .css-1129k9b {
        padding-right: 28px;
    }

    .css-1ewbfg0 {
        right: 0;
    }

    .lcai-nav-item {
        .css-yk6pw9 {
            background-color: transparent;
        }

        p,
        svg {
            color: var(--color-heading);
        }
    }
}

.mainmenu-nav {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.mainmenu-nav .lcai-nav-item .chakra-text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.mainmenu-nav .lcai-nav-item .chakra-stack {
    display: flex;
    align-items: center;
}

.mainmenu-nav li {
    margin: 0 10px;
    text-transform: capitalize;
}


.transaction-btn-connect {
    &.css-1oo8ztr[data-selected=true] {
        width: auto;
    }
}

.token-filter-btn {
    border-color: var(--color-border) !important;
    height: 40px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;

    &[data-selected=true],
    &[data-selected=true][aria-selected=true] {
        background: var(--color-border) !important;
    }
}

.filter-type {
    background: var(--color-primary) !important;

    &-text {
        color: var(--color-white) !important;
    }

    &-span {
        color: var(--chakra-colors-text) !important;
    }
}

// Mobilemenu Button 
.lcai-mobile-menu-button {
    .transaction-btn-connect {
        background: var(--color-primary);
        color: #ffffff;
        height: 40px !important;

        @media #{$large-mobile} {
            height: 36px !important;
        }
    }
}

.lcai-mobile-inner {
    .lcai-humbergur {
        width: 35px;
        min-width: 35px;
        height: 35px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-right: 4px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(#7064e966, #7064e969);
            width: 100%;
            height: 100%;
            transition: all .5s, top, left;
            border-radius: 6px;
            z-index: -1;
        }

        div {
            display: block;
            text-align: center;
        }

        svg {
            width: 25px;
            height: 25px;
            color: var(--color-heading);
        }
    }
}

.mobile-menu {

    .banner-search {
        padding-top: 0;
        width: 100%;
        max-width: 100%;
        top: 0;
        margin-bottom: 20px;

        input {
            width: 100%;
            height: 47px;
        }

        &.css-xoogi8 {
            display: none;
        }
    }

    .lcai-mobile-inner {
        @media #{$sm-layout} {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.lcai-main-home {
    .lcai-mobile-inner {}
}

.mt--30 {
    margin-top: 30px;
}


// .lcai-main-home ,
// .css-0 {
//     overflow-x: hidden;
// }