html {
    // font-size: 16px;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    &.lcai-body {
        // heading
        --chakra-colors-whiteAlpha-800: #CCCEEF;
        // body
        --chakra-colors-whiteAlpha-900: #7376AA;

        .css-1pv7abf {
            background: var(--chakra-colors-blue-400);
        }
    }
}




body {
    &.lcai-body {
        font-family: "Inter", serif;
        color: var(--color-body);
        font-weight: 400;
        overflow-y: scroll;
        overflow-x: hidden;
        background: var(--chakra-colors-black);
    }
    .chakra-heading {
        color: var(--color-heading);
    }
}
.clr-body{
    color: var(--color-body) !important;
}

.lcai-section-gapBottom {
    padding-bottom: 80px;
}

.lcai-section-gapTop {
    padding-top: 80px;
}

.lcai-section-gap {
    padding: 80px 0; 
}

.color-primary{ 
    color: var(--color-primary) !important;
}
.color-heading{ 
    color: var(--color-heading) !important;
}
.color-body{ 
    color: var(--color-body) !important;
}


.lcai-badge {
    border: 1px solid var(--color-border);
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    color: var(--color-body);
    display: inline-block;
    padding: 5px 12px;
    border-radius: 100px;
    display: inline-block;
    background: none;
    span {
        font-size: 14px;
        color: var(--color-body);
        font-weight: 500;
    }
}

.lcai-card-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    & > div {
        margin-right: 0;
    }
}

.lcai-transactions-icon {
    button {
        width: 40px;
        height: 40px;
        border: 1px solid var(--color-border);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-right: 10px;
        @media #{$sm-layout} {
            width: auto;
            height: auto;
            border: 0;
        }
        svg {
            color: var(--color-body);
        }
    }
}
.lcai-alert-default{
    background: var(--color-primary-alt) !important;
}
.lcai-alert-default{
    color: var(--color-white);
    span {
        color: var(--color-white);
    }
}

.lcai-tab[data-selected="true"] {
    background: var(--color-primary) !important;
    color: var(--color-white) !important;
    span {
        color: var(--color-white);
    }
}

.lcai-pagination button {
    border-color: var(--color-border);
}

.lcai-pagination button:disabled, .lcai-pagination button[disabled], [aria-disabled=true], [data-disabled] {
    opacity: 0.5;
}

.lcai-pagination button[data-selected=true], .lcai-pagination button[data-selected=true][aria-selected=true] {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-heading);

}



// Default Card Hover Style 
.lcai-card-hover {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    z-index: 2;
    background-color: var(--color-border);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background: radial-gradient(var(--color-primary), transparent, transparent);
        width: 200%;
        height: 200%;
        opacity: 0;
        transition: .5s, top 0s, left 0s;
        border-radius: var(--radius);
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        inset: 2px;
        border-radius: var(--radius);
        z-index: -1;
        background: var(--card-bg);
    }

    &:hover {
       &::before {
            opacity: 1;
       } 
    }
}


.chakra-alert.lcai-testnet-transection {
    background: #7064e950;
    color: var(--color-white);
}



.lcai-filter-input .chakra-input{
    border-color: var(--color-border) !important;
    &:focus-visible, 
    &[data-focus-visible] {
        border-color: var(--color-primary) !important;
    }
}

// Resposnive css

@media #{$sm-layout} {
    .css-hxynd0,
    .css-hriwax ,
    .css-1lbf24c {
        flex-wrap: wrap;
    }
    .css-ftybhd {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.lcai-daynamic-page-content{
.h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    address,
    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    menu,
    ol,
    p,
    pre,
    table,
    ul {
        margin: 0 0 20px
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        word-break: break-word;
        font-family: var(--secondary-font);
        line-height: 1.4074;
        color: var(--color-heading)
    }

    .h1,
    h1 {
        font-size: var(--h1);
        line-height: 1.19
    }

    .h2,
    h2 {
        font-size: var(--h2);
        line-height: 1.23
    }

    .h3,
    h3 {
        font-size: var(--h3);
        line-height: 1.4
    }

    .h4,
    h4 {
        font-size: var(--h4);
        line-height: 1.25
    }

    .h5,
    h5 {
        font-size: var(--h5);
        line-height: 1.24
    }

    .h6,
    h6 {
        font-size: var(--h6);
        line-height: 1.25
    }

    .h1 a,
    .h2 a,
    .h3 a,
    .h4 a,
    .h5 a,
    .h6 a,
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
        transition: .5s
    }

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--p-bold)
}

.h6,
h6 {
    font-weight: var(--p-medium)
}

p {
    font-size: var(--font-size-b2);
    line-height: var(--line-height-b2);
    font-weight: var(--p-regular);
    color: var(--color-body);
    margin: 0 0 30px
}

ol,
ul {
    padding-left: 18px
}

ul {
    list-style: square;
    margin-bottom: 30px;
    padding-left: 20px
}

ul.liststyle.bullet li {
    font-size: 18px;
    line-height: 30px;
    color: var(--color-body);
    position: relative;
    padding-left: 30px
}
ul li {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400
}

ul li,
ul li a {
    color: var(--color-body)
}

ul li a {
    text-decoration: none
}

ul li a:hover {
    color: var(--color-primary)
}

ul ul {
    margin-bottom: 0
}

ol {
    margin-bottom: 30px
}

ol li {
    color: var(--color-gray);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400
}

ol li a {
    color: var(--heading-color);
    text-decoration: none
}

ol li a:hover {
    color: var(--color-primary)
}

ol ul {
    padding-left: 30px
}
}