:root {
    //Themes colors
    --color-primary: #7064E9;
    --color-primary-alt: #3120df;
    --color-white: #ffffff;
    --color-heading: #CCCEEF;
    --color-body: #7376AA;
    --color-border: #7064E924;
    --color-border-2: #ffffff10;
    --radius: 10px;
    --card-bg: rgb(15, 16, 33);
    --card-bg-2: #0F1021;
    --color-border-opacity-5: rgba(111, 100, 233, 0.10);
    --color-dark-3: #14152C;
    --box-shadow-1: inset 2px 4px 12.6px rgba(6, 6, 14, 0.8), inset 6px -4px 9.1px rgba(6, 6, 14, 0.22);
    --box-shadow-2: 0px 2px 21.3px #070710;
    --border-width: 2px;
    --color-border-opacity-2: rgba(112, 100, 233, 0.2);
    --chakra-colors-black: #06060E !important;


    --border-width: 2px;
    --radius-small: 6px;
    --radius: 10px;
    --radius-big: 16px;
    --radius-bigger: 50px;
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;
    --font-size-b1: 18px;
    --font-size-b2: 16px;
    --font-size-b3: 14px;
    --font-size-b4: 12px;
    --line-height-b1: 1.67;
    --line-height-b2: 1.7;
    --line-height-b3: 1.6;
    --line-height-b4: 1.3;
    --h1: 56px;
    --h2: 44px;
    --h3: 36px;
    --h4: 24px;
    --h5: 18px;
    --h6: 16px;
}

// Layouts Variation
$smlg-device: 'only screen and (max-width: 1199px)';
$lgtolp-device: 'only screen and (min-width: 1200px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout: 'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';